<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE = edge">
  <meta name="viewport" content="width=device-width initial-scale=1.0">
  <title>
    Expanded Group Descriptions- Student 
  </title>
 
  {% load static %}
  <link rel='stylesheet' href='../../static/css/pagestyles.css'/>
</head>

<body>


  <div class="pages-banner">
    <div class="nav-container">
        <img src="../../static/media/images/logo.png" alt="logo">

     <h1> Groups Description Below </h1>

    </div>
    

    <div  class="expanded-groups-descriptions">

      <div  class="expanded-groups-descriptions">
       
          <!-- this should be where the professors description of the group should go for the student to read-->
    </div>

      <div class="groups-buttons">
        <button type="submit" class="groups-button"> Go Back </button> 
        
      </div>


  </div>
</body>
