<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE = edge">
  <meta name="viewport" content="width=device-width initial-scale=1.0">
  <title>
    Expand Establish- Facility 
  </title>
 
  {% load static %}
  <link rel='stylesheet' href='../../static/css/pagestyles.css'/>
</head>

<body>


  <div class="pages-banner">
    <div class="nav-container">
        <img src="../../static/media/images/logo.png" alt="logo">

     <h1>Write Description Below </h1>

    </div>
    

    <div  class=" establish-groups">

      <div  class="groups-description">
       
          <!-- this should be where the professor can write the groups description should go -->
    </div>

      <div class="groups-buttons">
        <button type="submit" class="groups-button"> Done </button>
        <button type="submit" class="groups-button"> Go Back </button> 
            <!-- I put this here because youll have to go back and fix all of them I dont really know the flow though-->
        
       </div>


  </div>
</body>
