<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE = edge">
  <meta name="viewport" content="width=device-width initial-scale=1.0">
  <title>
    Groups Work- Student
  </title>
 
  {% load static %}
  <link rel='stylesheet' href='../../static/css/pagestyles.css'/>
</head>

<body>


  <div class="pages-banner">
    <div class="nav-container">
        <img src="../../static/media/images/logo.png" alt="logo">

     <h1> Links To Work Below </h1>

    </div>
    

    <div  class="check">
      
      <div  class="submissions">
        <div> 
            <img src="../../static/media/images/group.png" alt="group">
            <!-- should be a text box holding the group name or # under this image-->
            </div>
      <div class="check-submissions">
        
          <!-- this is where the zoom link should go for the other groups to see -->  
    </div>
    <div class="check-submissions">
        
        <!-- this is where the panopto link should go for the other groups to see -->  
  </div>
  <div class="check-submissions">
        
    <!-- this is where the poster file should go for the other groups to see -->  
</div>

<div class="check-submissions">
        
    <!-- this is where the survey link should go for the other groups to see -->  
</div>

      <div class="groups-buttons">
        <button type="submit" class="groups-button"> Go Back  </button>
       </div>
 


  </div>
</body>
