<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE = edge">
  <meta name="viewport" content="width=device-width initial-scale=1.0">
  <title>
    Assignment Page-student
  </title>
 
  {% load static %}
  <link rel='stylesheet' href='../../static/css/pagestyles.css'/>
</head>

<body>


  <div class="pages-banner">
    <div class="nav-container">
        <img src="../../static/media/images/logo.png" alt="logo">

     <h1> Assignments </h1>

    </div>
    

    <div  class="hw">
      

      <div  class="hw-description">
        
          <!-- this should be where the description of the assignment should go  -->  
    
    </div>

      <div class="groups-buttons">
        <button type="submit" class="groups-button"> Continue </button>
       
        <button type="submit" class="groups-button"> Go Back  </button>
       </div>
 
<div class="description">
  <!-- team description should go here-->
</div>


  </div>
</body>
