<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE = edge">
  <meta name="viewport" content="width=device-width initial-scale=1.0">
  <title>
    Post Assignment
  </title>
 
  {% load static %}
  <link rel='stylesheet' href='../../static/css/styles.css'/>
</head>

<body>
<div class="post-container">
  <div class="post-title">
    <h2>You have successfully created an assignment!</h2>
  </div>

  <div class="post-nav">
    <button type="submit" class="button">
      <a href="{% url 'storyer:faculty_landing' %}">CONTINUE</a>
    </button>
  </div>

</div>

</body>