<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE = edge">
  <meta name="viewport" content="width=device-width initial-scale=1.0">
  <title>
    Lander- Student 
  </title>
 
  {% load static %}
  <link rel='stylesheet' href='../../static/css/pagestyles.css'/>
</head>

<body>


  <div class="pages-banner">
    <div class="nav-container">
        <img src="../../static/media/images/logo.png" alt="logo">

     <h1>TEAM HOME </h1>

    </div>
    

    <div  class="student-land">
      
    
      
      <div> 
      <img src="../../static/media/images/group.png" alt="group">
      </div>

      <div  class="initial-sign-up-form">
        <div>   
          <input type="text" class="member-names">
          <!-- this is the form where the student names will go they should all be one under the other and im assuming python will know how many to generate -->  
        </div>
    
    </div>

      <div class="groups-buttons">
        <button type="submit" class="groups-button"> Groups </button>
       
        <button type="submit" class="groups-button"> Assignments  </button>
       </div>
 
<div class="description">
  <!-- team description should go here-->
</div>


  </div>
</body>
