<!DOCTYPE html>
<html lang='en'>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE = edge">
  <meta name="viewport" content="width=device-width initial-scale=1.0">
  <title>
    Pick Groups Student
  </title>
  {% load static %}
  <link rel='stylesheet' href='../../static/css/pagestyles.css' />
</head>

<body class="solid-bg">
  <div class="header-bar">
    {% load static %}
    <img class="storyer-logo" src="../../static/media/images/logo.png" alt="Storyer logo" />
  </div>
  <div class="page-text-dark">
    <h1>Pick Groups</h1>
  </div>


  <!--needs name/ids for form info to be posted to API-->
  <!-- there should be as many group-entry generated in the form for every group -->
  <div class="groups-form">
    <form>
      {% if assignment_list %}
      {% for assignment in assignment_list %}
      <div class="group-entry">
        <img src="../../static/media/images/group.png" alt="group">
        <p>{{ assignment.title }}</p>
        <div class="descripton">
          <p>{{ assignment.description }}</p>
        </div>
      </div>
      {% endfor %}
      {% else %}
      <div class="group-entry">
        <img src="../../static/media/images/group.png" alt="group">
        <div class="descripton">
          <p>No Assignments are available.</p>
        </div>
      </div>

      {% endif %}
    </form>


    <div>
      <button type="submit" class="groups-button"> Rank Groups </button>
    </div>
  </div>

</body>