:root { 
    --top-bar-color: #486a4f;
    --solid-bg-color: #86acab;
    --border-color: #707070;

    --backgorund-image: "../media/images/background.png"
   
    --font-size-xxs: 16px;
    --font-size-xs: 18px;
    --font-size-s: 19px;
    --font-size-m: 20px;
    --font-size-l: 26px;
    --font-size-xl: 30px;
    --font-size-xxl: 36px;
   
    --font-family-alnile-bold: "AlNile-Bold", Helvetica;
    --font-family-sinhalamn-bold: "SinhalaMN-Bold", Helvetica;
  }

html {
    height: 100%;
}

body
{
    margin: 0%;
    justify-content: center;
    box-sizing: border-box;
}

/* for body elements with the science image for background */
.image-bg {
    display: flex;
    padding: 20px;
    width: 100%;
    height: 100%;
    align-items: center;
    background-image: url(--background-image);
    background-size: cover;
    box-sizing: border-box;
}

.solid-bg {
    background-color: var(--solid-bg-color);
}

.header-bar {
    background-color: var(--top-bar-color);
    height: 200px;
    width: 100%;
    display: inline-block;
}

.header-bar .storyer-logo {
    padding: 20px;
    height: 15%;
    object-fit: cover;
    position: absolute;
  }

.page-text-dark {
    color: black;
    font-family: Sinhala MN;
    display: inline;
}

.page-text-dark h1 {
    align-self: center;
    font-size: var(--font-size-xxl);
    text-align: center;
    font-weight: bold;
}

.home-button {
    padding: 20px;
    display: inline;
}
/*end of general stuff  I am going to have to come back and change the backgrounds for the other pages*/


/*start of initial*/
.sign-up-container
{
    width: 1320px;
    height: 730px;
    background: rgba(0, 0, 0, 0.4);
}

.sign-up-title
{
    font-size: 50px;
    color: white;
    text-align: center;
    font-weight: bold;
    font-family: Sinhala MN;
}

.initial-sign-up-form
{
    padding: 8px;
    justify-content: center;
    text-align: center;
    display: block;
    font-size: 24px;
    font-weight: bold;
    color: black;
}

.initial-sign-up-label
{
    display: block;
    padding-top: 10px;
    padding-bottom: 5px;
}

.initial-sign-up-button
{
    background-color: gray;
    color:black;
    font-weight: bold;
    font-size: 24px;
    border-radius: 14px;
}

.sign-up-input
{
    padding: 3px;
    color: gray;
    box-sizing: border-box;
    font-size: 12px;
    outline: none;
    border: 2px solid #fff;
}

.sign-up-input:focus
{
    border-color: #486A4F;
}

.initial-sign-up-button
{
    align-items: center;
    margin-top: 10px;
    padding: 1px 3px;
    font-size: 20px;
    font-weight: bold;
    width: 6em;
    height: 2em;
    border-radius: 6px;
}
/* end of initial*/

/*start of index  */
.logo-container img
{
    padding-top: 35px;
    width: 800px;
    height: 400px;
}

.button
{
    align-items: center;
    margin-left: 300px;
    margin-top: 40px;
    padding: 10px 10px 10px;
    font-size: 20px;
    font-weight: bold;
    width: 150px;
    border-radius: 8px;
    background:rgba(64, 69, 75, 0.89);
}
/* end of index */

/* Start of sign on */
.sign-on-container
{
    width: 1320px;
    height: 730px;
    background: rgba(0, 0, 0, 0.4);
}
.sign-on-title
{
    font-size: 50px;
    color: white;
    text-align: center;
    font-weight: bold;
    font-family: Sinhala MN;
}

.sign-on-form
{
    padding: 8px;
    justify-content: center;
    text-align: center;
    display: block;
    font-size: 24px;
    font-weight: bold;
    color: black;
}

.sign-on-label
{
    display: block;
    padding-top: 10px;
    padding-bottom: 5px;
}


.sign-on-input
{
    padding: 3px;
    color: gray;
    box-sizing: border-box;
    font-size: 12px;
    outline: none;
    border: 2px solid #fff;
}

.sign-on-input:focus
{
    border-color: #486A4F;
}

.sign-on-button
{
    align-items: center;
    margin-top: 40px;
    padding: 10px 10px 10px;
    font-size: 20px;
    font-weight: bold;
    width: 150px;
    border-radius: 8px;
    background:rgba(149, 138, 138, 0.8);
}
/*end of sign on*/

/*submitted pages*/

.post-buttons
{
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    margin-left: 550px;
    font-size: 20px;
    font-weight: bold;
    width: 150px;
    border-radius: 8px;
    background:rgba(149, 138, 138, 0.8);
}

h3
{
    align-items: center;
    margin-left:525px;
    margin-top: 50px;
    padding: 10px 10px 10px;
    font-size: 40px;
    color: #fff;
}


/* end of submitted pages styling */
