/* screen - establishexpand */

.establishexpand {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 800px;
  padding: 23.0px 42px;
  width: 1280px;
}

.establishexpand .overlap-group {
  border-radius: 40px;
  height: 754px;
  margin-top: 0;
  position: relative;
  width: 1196px;
}

.establishexpand .group-1 {
  background-color: var(--cascade);
  border-radius: 40px;
  display: flex;
  height: 754px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1196px;
}

.establishexpand .rectangle-54 {
  background-color: var(--axolotl);
  border: 1px solid;
  border-color: var(--dove-gray);
  border-radius: 40px 40px 0px 0px;
  flex: 1;
  height: 200px;
  margin-left: 1px;
  opacity: 0.7;
}

.establishexpand .rectangle-105 {
  background: linear-gradient(180deg, #1590eb 0%, #133245 100%);
  border-radius: 57px;
  height: 51px;
  left: 361px;
  position: absolute;
  top: 224px;
  width: 474px;
}

.establishexpand .edit-description {
  color: var(--white);
  font-family: var(--font-family-sinhalamn-bold);
  font-size: var(--font-size-m);
  font-weight: 700;
  left: 517px;
  letter-spacing: 0;
  line-height: 20px;
  position: absolute;
  text-align: center;
  text-shadow: 0px 3px 6px #00000029;
  top: 239px;
  white-space: nowrap;
}

.establishexpand .unknown {
  height: 77px;
  left: 62px;
  object-fit: cover;
  position: absolute;
  top: 64px;
  width: 259px;
}

.establishexpand .rectangle-52 {
  background: linear-gradient(180deg, #1590eb 0%, #133245 100%);
  border-radius: 57px;
  height: 50px;
  left: 933px;
  position: absolute;
  top: 650px;
  width: 216px;
}

.establishexpand .create-group {
  left: 971px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  text-align: center;
  top: 668px;
  white-space: nowrap;
}
