/* screen - establishgroups */

.establishgroups {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 800px;
  padding: 0 32px;
  width: 1280px;
}

.establishgroups .overlap-group {
  border-radius: 40px;
  height: 754px;
  margin-left: 20px;
  margin-top: 23px;
  position: relative;
  width: 1196px;
}

.establishgroups .group-1 {
  background-color: var(--cascade);
  border-radius: 40px;
  display: flex;
  height: 754px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1196px;
}

.establishgroups .rectangle-54 {
  background-color: var(--axolotl);
  border: 1px solid;
  border-color: var(--dove-gray);
  border-radius: 40px 40px 0px 0px;
  flex: 1;
  height: 200px;
  margin-left: 1px;
  opacity: 0.7;
}

.establishgroups .grouppeopleteamusers {
  height: 91px;
  left: 232px;
  object-fit: cover;
  position: absolute;
  top: 262px;
  width: 91px;
}

.establishgroups .grouppeopleteamusers-1 {
  height: 91px;
  left: 442px;
  object-fit: cover;
  position: absolute;
  top: 262px;
  width: 91px;
}

.establishgroups .grouppeopleteamusers-2 {
  height: 91px;
  left: 656px;
  object-fit: cover;
  position: absolute;
  top: 262px;
  width: 91px;
}

.establishgroups .grouppeopleteamusers-3 {
  height: 91px;
  left: 863px;
  object-fit: cover;
  position: absolute;
  top: 262px;
  width: 91px;
}

.establishgroups .rectangle-52 {
  background: linear-gradient(180deg, #1590eb 0%, #133245 100%);
  border-radius: 57px;
  cursor: pointer;
  height: 50px;
  left: 923px;
  position: absolute;
  top: 650px;
  width: 216px;
}

.establishgroups .unknown {
  height: 77px;
  left: 52px;
  object-fit: cover;
  position: absolute;
  top: 64px;
  width: 259px;
}

.establishgroups .place {
  left: 1007px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  text-align: center;
  top: 666px;
  white-space: nowrap;
}
