/* screen - fsubmit */

.fsubmit {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 800px;
  padding: 0 42px;
  width: 1280px;
}

.fsubmit .overlap-group {
  border-radius: 40px;
  height: 754px;
  margin-top: 23px;
  position: relative;
  width: 1196px;
}

.fsubmit .group-1 {
  background-color: var(--cascade);
  border-radius: 40px;
  display: flex;
  height: 754px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1196px;
}

.fsubmit .rectangle-54 {
  background-color: var(--axolotl);
  border: 1px solid;
  border-color: var(--dove-gray);
  border-radius: 40px 40px 0px 0px;
  flex: 1;
  height: 200px;
  margin-left: 1px;
  opacity: 0.7;
}

.fsubmit .rectangle-52 {
  background: linear-gradient(180deg, #1590eb 0%, #133245 100%);
  border-radius: 57px;
  cursor: pointer;
  height: 50px;
  left: 1040px;
  position: absolute;
  top: 671px;
  width: 103px;
}

.fsubmit .done {
  cursor: pointer;
  left: 1069px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  text-align: center;
  text-shadow: 0px 3px 6px #00000029;
  top: 690px;
  white-space: nowrap;
}

.fsubmit .assignment {
  left: 436px;
  letter-spacing: 0;
  line-height: 36px;
  position: absolute;
  text-align: center;
  text-shadow: 0px 10px 20px #00000029;
  top: 218px;
  width: 327px;
}

.fsubmit .unknown {
  height: 77px;
  left: 62px;
  object-fit: cover;
  position: absolute;
  top: 64px;
  width: 259px;
}

.fsubmit .icon-awesome-home {
  height: 41px;
  left: 38px;
  object-fit: cover;
  position: absolute;
  top: 233px;
  width: 48px;
}

.fsubmit .group-name {
  color: var(--black);
  font-family: var(--font-family-alnile-bold);
  font-size: var(--font-size-m);
  font-weight: 700;
  left: 240px;
  letter-spacing: 0;
  line-height: 20px;
  opacity: 0.5;
  position: absolute;
  text-align: center;
  top: 436px;
  white-space: nowrap;
}
