:root { 
  --axolotl: #486a4f;
  --black: #000000;
  --cascade: #86acab;
  --dove-gray: #707070;
  --licorice: #151515;
  --silver-chalice: #afafaf;
  --white: #ffffff;
 
  --font-size-l: 18px;
  --font-size-m: 16px;
  --font-size-xl: 20px;
  --font-size-xxl: 28px;
  --font-size-xxxl: 30px;
  --font-size-xxxxl: 38px;
  --font-size-xxxxxl: 54px;
 
  --font-family-alnile-bold: "AlNile-Bold", Helvetica;
  --font-family-sinhalamn-bold: "SinhalaMN-Bold", Helvetica;
  --font-family-sinhalamn-regular: "SinhalaMN-Regular", Helvetica;
}
.alnile-bold-white-16px {
  color: var(--white);
  font-family: var(--font-family-alnile-bold);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.alnile-bold-silver-chalice-16px {
  color: var(--silver-chalice);
  font-family: var(--font-family-alnile-bold);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}

.alnile-bold-white-20px {
  color: var(--white);
  font-family: var(--font-family-alnile-bold);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
}

.sinhalamn-bold-black-30px {
  color: var(--black);
  font-family: var(--font-family-sinhalamn-bold);
  font-size: var(--font-size-xxxl);
  font-style: normal;
  font-weight: 700;
}
